@model List<ShiftLogAM>
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
        <div class="text-right">
            <button type="button" onclick='window.location.href = "/ShiftLogAM/AddNewShiftLogAM"' class="btn btn-primary">+New Entry</button>
        </div>
        <h1 id="title" class="text-center">Show All Shift LOG AM</h1>
        <p id="description" class="description text-center">

        </p>
    </header>
    <form id="survey-form">
        <div class="form-group">
            <label id="name-label" for="name">Select Participant</label>
            <input type="text"
                   name="name"
                   id="myInput"
                   class="form-control"
                   placeholder="Enter name"
                   onkeyup="myFunction()"
                   required />
        </div>

        @*Date Start*@
        <label for="dateofbirth"></label>
        <input type="date" name="dateofbirth" id="dateofbirth">
        @*Date Start*@
        <label for="dateofbirth"></label>
        <input type="date" name="dateofbirth" id="dateofbirth">

        @*Hierarchy Start*@
        <div class="form-group">
            <p>Please Select a State</p>
            <select id="dropdown" name="role" class="form-control" required>
                @*<option disabled selected value>Select current role</option>*@
                <option value="student"></option>
                <option value="job">Full Time Job</option>
                <option value="learner">Full Time Learner</option>
                <option value="preferNo">Prefer not to say</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table badge-light">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Participant</th>
                            <th>Unity</th>
                            <th>Entry Data</th>
                            <th>Last Uplod</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Reference</td>
                            <td>@item.Client</td>
                            <td>@item.Unit</td>
                            <td>@item.EntryDate</td>
                            <td>@item.EntryDate</td>
                            <td>
                                <a asp-controller="ShiftLogAM" asp-action="ViewShiftLogAM" asp-route-id="@item.Reference">View</a>
                                <a asp-controller="ShiftLogAM" asp-action="UpdateShiftLogAM" asp-route-id="@item.Reference">Update</a>
                                <a asp-controller="ShiftLogAM" asp-action="DeleteShiftLogAM" asp-route-id="@item.Reference">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <script type="text/javascript">
            const projectName = 'survey-form';

        </script>
        @section Scripts{
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
        }
    </form>





